{% extends "base.html" %}
{% load static %}

{% block content %}
    <h3>About me</h3>
    <p>My name is Andrew, I am a software engineer from Minsk, Belarus. I am a great linux lover and python language fan who enjoys good music, well-directed movies, and delicious food.</p>
    <p>My main programming language is Python, I am also familiar with ECMA/TypeScript, Go, C and a little bit of Swift.</p>
    <p>I mostly specialize in building large SAAS-application backends, interested in building high-load distributed systems.</p>

    <h4>Contact information</h4>
    <div class="social-network" id="linkedin-social">
        <a href="https://www.linkedin.com/in/andrei-sviridov-9619b9109">LinkedIn</a>
    </div>
    <div class="social-network" id="github-social">
        <a href="https://github.com/MrLokans">Github</a>
    </div>
    <div class="social-network" id="lastfm-social">
        <a href="http://www.last.fm/ru/user/MrLokans">Lastfm ;)</a>
    </div>
    <a href="mailto:mrlokans@gmail.com">E-mail</a>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
{% endblock %}
