**/*.sqlite3
**/.idea/
*.pdf
**/__pycache__
**/*.pyc
**/creds
**/staticfiles
personal_site/logs/*
personal_site/daemons/*
bower_components
node_modules
.tox
.cache
mydatabase
secret.key
isp_coverage
backups
# Docker dirs
worker
sentry-files
rabbit-data
pgdata
pgdata_sentry
.scrapy
htmlcov
pgdata*
.vagrant
static

.env
backups
cron-logs

experiments

.coverage
.deployment-env
.ipynb_checkpoints