**/*.sqlite3
**/.idea/
*.pdf
**/__pycache__
**/*.pyc
**/creds
**/staticfiles
personal_site/logs/*
personal_site/daemons/*
bower_components
node_modules
.tox
.cache
mydatabase
static
pgdata
secret.key
frontend/js/vendor
