<script type="text/ng-template" id="about_me.html">
    <h3>About me</h3>
    <p>I am a great linux lover and python language fan. I love good music, well-directed movies, and delicious food.</p>

    <skill-list></skill-list>

    <div class="social-networks">
        <h4>Links</h4>
        <div class="social-network" id="linkedin-social">
            <a href="https://www.linkedin.com/in/andrei-sviridov-9619b9109">LinkedIn</a>
        </div>
        <div class="social-network" id="github-social">
            <a href="https://github.com/MrLokans">Github</a>
        </div>
    </div>

    <h3>Working time:</h3>
    <div id="work-timeline"></div>
</script>

<script type="text/ng-template" id="projects.html">
        <div class="projects-list">
            <div class="project-block" ng-repeat="project in projects">
                <h4 class="project-header">
                    <a href="{{ project.url }}">{{ project.title }}</a>
                </h4>
                <div class="project-description">
                    {{ project.description }}
                    <div class="project-technolgies-list">
                        <div class="project-technology" ng-repeat="skill in project.technologies">
                            {{ skill.name }}
                        </div>
                    </div>
                    <div class="project-links" ng-repeat="link in project.links">
                        <strong class="project-link-title">{{ link.name }}</strong>
                        <a class="project-link" href="{{ link.url }}">{{ link.link }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="skill-list.html">
    <hr>
    <h5>Technologies I had experience with and my level of their mastery (as far as I suppose)</h5>
    <div class="skills-wrapper">
        <skill-single skill="skill" ng-repeat="skill in skills"></skill-single>
    </div>
</script>

<script type="text/ng-template" id="skill-single.html">
    <div class="skill-container">
        <div class="skill-title"><strong>{{ skill.name }}</strong></div>
        <br>
        <div class="skill-mastery"><strong>{{ skill.mastery_level | skillLevelizer }}</strong></div>
    </div>
</script>

<script type="text/ng-template" id="post-list.html">
    <div class="post-container" ng-repeat="post in posts">
        <div class="post-title-container">
            <div></div>
            <div>
                <a href="#/blog/{{ post.id }}">MrLokans</a>
            </div>
            <div>{{ post.created | date:"HH:mm - dd.MM.yyyy" }}</div>
            <div></div>
        </div>
        <div class="post-content">
            {{ post.content }}
        </div>
    </div>
</script>

<script type="text/ng-template" id="blog.html">
    <post-list></post-list>
</script>

<script type="text/ng-template" id="post-details.html">
    <div class="post-title-container">
        <div></div>
        <div>
            <a href="#">MrLokans</a>
        </div>
        <div>{{ post.created | date:"HH:mm - dd.MM.yyyy" }}</div>
        <div></div>
    </div>
    <div class="post-content">
        {{ post.content }}
    </div>
</script>


<script type="text/ng-template" id="books.html">
    <books-list></books-list>
</script>

<script type="text/ng-template" id="books-note.html">
    <div class="book-data__single-note">
        <blockquote>{{ note.text }}</blockquote>
    </div>
</script>


<script type="text/ng-template" id="book-single.html">
    <div class="book-data-container">
        <div class="book-data__title row">
            <a href="#/books/{{ book.id }}" class="col-md-11"><h3>{{ book.title }}<h3></a>
            <div class="collapse-notes"><a href="#">-</a></div>
        </div>
        <div class="progress">
              <div class="progress-bar" bookNoterole="progressbar" aria-valuenow="{{ book.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{ book.percentage}}%">
                {{ book.percentage}}%
            </div>
        </div>
        <div class="book-data__notes-list">
            <book-note note="note" ng-repeat="note in book.notes"></book-note>
        </div>

    </div>
</script>

<script type="text/ng-template" id="book-detail-edit.html">
   <h1>Book details</h1>
   <input id="book-details__title" type="text" ng-model="book.title">
   <hr>

   <button ng-click="save()">Save</button>
</script>

<script type="text/ng-template" id="book-details.html">
    <h2>{{ book.title }}</h2>
    <img ng-click="openDetails();" src="/static/img/edit.png" alt="edit-icon"
         class="col-md-1 book-edit-icon">
    <div class="book-data__notes-list">
        <book-note note="note" ng-repeat="note in book.notes"></book-note>
    </div>
</script>

<script type="text/ng-template" id="books-list.html">
   <h1>Books</h1>
    <!-- Book list -->
    <ul class="book-list">
        <book-single book="book" ng-click="testClick()" ng-repeat="book in books"></book-single>
    </ul>
</script>
