{% extends "base.html" %}
{% load static %}
{% block content %}
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-default new-post-btn" data-toggle="modal" data-target="#newPostModal">New post</button>
                {% include "blog/new_post.html" %}        
            {% endif %}

{% verbatim %}
<script type="text/ng-template" id="post-list.html">
    <div class="post-container" ng-repeat="post in posts">
        <div class="post-title-container">
            <div></div>
            <div>
                <a href="http://github.com/MrLokans">MrLokans</a>
            </div>
            <div>{{ post.created | date:"HH:mm - dd.MM.yyyy" }}</div>
            <div></div>
        </div> 
        <div class="post-content">
            {{ post.content }}
        </div>
    </div>
</script>
{% endverbatim %}
            <post-list></post-list>
{% endblock %}