{% extends "base.html" %}
{% load static %}
{% block content %}
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-default new-post-btn" data-toggle="modal" data-target="#newPostModal">New post</button>
                {% include "blog/new_post.html" %}        
            {% endif %}

            {% for post in posts %}
                <div class="post-container">
                    <div class="post-title-container">
                        <div></div>
                        <div>
                            <a href="http://github.com/MrLokans">MrLokans</a>
                        </div>
                        <div>{{ post.created | date:"H M - d.m.y" }}</div>
                        <div></div>
                    </div> 
                    <div class="post-content">
{{ post.content }}
                    </div>
                </div>
               
            {% endfor %}
            <post-list></post-list>
{% endblock %}