# Copied to the server, executed on the host machine
2 * * * * cd %(APPLICATION_DIR)s && %(MANAGEMENT_SCRIPT_PATH)s scrapeapartments >> /var/log/cron/apartments-scrapper.log 2>&1
40 * * * * cd %(APPLICATION_DIR)s && %(MANAGEMENT_SCRIPT_PATH)s importbooks --count 2000 >> /var/log/cron/books-importer.log 2>&1
0 10 * * * cd %(APPLICATION_DIR)s && %(MANAGEMENT_SCRIPT_PATH)s import_osm_data >> /var/log/cron/osm-import.log 2>&1
