[Unit]
Description=Personal site django container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f /opt/mrlokans.com/docker-compose.prod.yml up backend
ExecStop=/usr/bin/docker-compose -f /opt/mrlokans.com/docker-compose.prod.yml stop backend

[Install]
WantedBy=default.target