{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'vendor/vis.min.css' %}">
    <h3>Short Info</h3>
    <h4>About me</h4>
    <p>Linux and python fan.</p>
    <div class="social-networks">
        <h4>Social networks profiles</h4>
        <div class="social-network" id="linkedin-social">
            <a href="https://www.linkedin.com/in/andrei-sviridov-9619b9109">LinkedIn</a>
        </div>
        <div class="social-network" id="github-social">
            <a href="https://github.com/MrLokans">Github</a>
        </div>
    </div>
    
    <h3>Working time:</h3>
    <div id="work-timeline"></div>

{% endblock content %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'vendor/vis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/work_timeline.js' %}"></script>
{% endblock extra_scripts %}
