<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MrLokans{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>
</head>
    
<body>
    {% block header %}
         {% include "header.html" %}
     {% endblock header %} 

    <div class="container">
        <div class="row">

            <div class="col-md-2">
                {% block left_menu %}
                    {% include "left_menu.html" %}
                {% endblock %}
            </div>
            
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>

            <div class="col-md-2">
                {% block right_menu %}
                    {% include "right_menu.html" %}
                {% endblock %}
            </div>


            {% block featured_works %}
                {% include "featured_works.html" %}
            {% endblock %}
        </div>
    

    </div>

    <script src="{% static 'vendor/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/prism.js' %}"></script>
</body>