<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>{% block title %}MrLokans{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"></base>
    {% block styles %}
        {% include "page_styles.html" %}
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}
    {{ form.media }}
    <!-- We need for markdownx application to work correctly -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>


</head>
    
<body ng-app="andersblog">
    {% block header %}
         {% include "header.html" %}
     {% endblock header %} 

    <div class="container">
        <div class="row">

            <div class="col-md-2">
                {% block left_menu %}
                    {% include "left_menu.html" %}
                {% endblock %}
            </div>
            
            <div class="col-md-8">
                <div ng-view></div>
            </div>

            <div class="col-md-2">
                {% block right_menu %}
                    {% include "right_menu.html" %}
                {% endblock %}
            </div>


            {% block footer %}
                {% include "featured_works.html" %}
            {% endblock %}
        </div>
    

    </div>

   {% include "scripts.html" %}
   {% include "blog/angular-templates.html" %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>