{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Books</h1>
    <!-- Book list -->
    <ul>

    {% for book in book_data %}
        {% if not book.is_empty %}
        <h3>{{ book.title }}</h3>
        <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ book.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{ book.percentage}}%">
                {{ book.percentage}}%
            </div>
        </div>
        
            {% for note in book.get_related_notes %}
                <blockquote>{{ note.text }}</blockquote>
            {% empty %}
                <p>No notes</p>
            {% endfor %}



        {% endif %}

    {% empty %}
        <li>No books yet.</li>
    {% endfor %}
    </ul>

    <!-- Pagination -->
    <ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page_obj.number %}
              <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
            {% else %}
              <li><a href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}  
        {% endfor %}  
    </ul>
{% endblock %}