        <div class="row">
            <div class="col-md-12" id="FeaturedWorkText">
                <h2>Featured Work</h2>
            </div>
        </div>

        <div class="row project-list text-center">
            <div class="col-md-4 portfolio-project">
                <img src="http://placehold.it/250x150" alt="" class="img-responsive img-center">
                <h3 class="text-uppercase">Appify</h3>
                <a href="#">https://github.com/MrLokans</a>
            </div>

            <div class="col-md-4 portfolio-project">
                <img src="http://placehold.it/250x150" alt="" class="img-responsive img-center">
                <h3 class="text-uppercase">Appify</h3>
                <a href="#">https://github.com/MrLokans</a>
            </div>

            <div class="col-md-4 portfolio-project">
                <img src="http://placehold.it/250x150" alt="" class="img-responsive img-center">
                <h3 class="text-uppercase">Appify</h3>
                <a href="#">https://github.com/MrLokans</a>
            </div>

        </div>