{% load static %}
<div class="container">
    <div class="row" id="header">
        <div class="col-md-6 col-xs-6 portfolio-logo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="logo" class="title-logo ing-responsive">
            </a>
        </div>
        <div class="col-md-6 col-xs-6 text-right text-uppercase">
            <h1 class="title-name">Anders Lokans</h1>
            <h4 class="title-job">Front-end Ninja</h4>
        </div>
    </div>    

    <div class="row" id="menu-splitter">
        <hr/>
    </div>

</div>