<ul class="nav nav-pills nav-stacked">
    <li><a href="{% url 'about_me' %}">About me</a></li>
    <li><a href="/">Blog</a></li>
    <li><a href="{% url 'projects_list' %}">Notes</a></li>
    <li><a href="{% url 'projects_list' %}">Book quotes</a></li>
    <li><a href="{% url 'projects_list' %}">Projects list</a></li>

    {% if user.is_anonymous %}
        <li><a href="{% url 'login' %}">Login</a></li>
    {% else %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
    <li><a href="{% url 'signup' %}">Sign up</a></li>

</ul>
