<ul class="nav nav-pills nav-stacked">
    <li class="menu-item"><a href="#about_me">About me</a></li>
    <li class="menu-item"><a href="/">Blog</a></li>
    <li class="menu-item"><a href="{% url 'projects_list' %}">Notes</a></li>
    <li class="menu-item"><a href="{% url 'book-list' %}">Book quotes</a></li>
    <li class="menu-item"><a href="#projects">Projects list</a></li>

    {% if user.is_authenticated %}
        <li class="menu-item"><a href="{% url 'logout' %}">Log Out</a></li>
    {% else %}
        <li class="menu-item"><a href="{% url 'signup' %}">Sign up</a></li>
        <li class="menu-item"><a href="{% url 'login' %}">Log In</a></li>
    {% endif %}

</ul>
