{% load staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'ng-dialog/css/ngDialog.min.css' %}">
<link rel="stylesheet" href="{% static 'ng-dialog/css/ngDialog-theme-default.min.css' %}">
<link rel="stylesheet" href="{% static 'css/prism.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'vendor/vis.min.css' %}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>