{% extends "base.html" %}
{% block content %}
    <div class="projects">
        <div class="project-block">
            <h4 class="project-header">
                <a href="/">Personal site</a>
            </h4>
            <div class="project-description">
                This site itself. Personal blog, portfolio site, playground for experiments.
                <br/>
                <div class="project-links">
                    <strong class="project-link-title">Github</strong>
                    <a class="project-link" href="https://github.com/MrLokans/portfoliosite">portfoliosite</a
                </div>
            </div>
        </div>
        <div class="project-block">
            <h4 class="project-header">
                <a href="/projects/providers">ISP coverage Map</a>
            </h4>
            <div class="project-description">
                Map of Belarus high-speed internet access. Each point represents house with some ISP availability.
                Blue represents ByFly's XPON, red - MTS ethernet, purple - Unet.by.
            </div>
        </div>
        <div class="project-block">
            <h4 class="project-header">
                <a href="https://github.com/MrLokans/MoonReader_tools">MoonReader tools</a>
            </h4>
            <div class="project-description">
                Python library to parse <a href="http://www.moondownload.com/">MoonReader</a> syncronization formats.
                <br/>
                <div class="project-links">
                    <strong class="project-link-title">Github</strong>
                    <a class="project-link" href="https://github.com/MrLokans/MoonReader_tools">MoonReader tools</a>
                    <strong class="project-link-title">PyPI</strong>
                    <a class="project-link" href="https://pypi.python.org/pypi/moonreader_tools">MoonReader tools</a>         
                </div>
            </div>
        </div>         
        <div class="project-block">
            <h4 class="project-header">
                <a href="https://github.com/MrLokans/bank_telegram_bot">TelegramBot</a>
            </h4>
            <div class="project-description">
                Telegram bot that displays currency exchange rates for several belarusian banks
                and also shows some pretty plots.
                <br/>
                <div class="project-links">
                    <strong class="project-link-title">Github</strong>
                    <a class="project-link" href="https://github.com/MrLokans/bank_telegram_bot">Telegram-bot</a>       
                </div>
            </div>
        </div>  

    </div>
{% endblock content %}