<!-- {% load staticfiles %} -->
{% load static %}
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'ng-dialog/js/ngDialog.js' %}"></script>
<script src="{% static 'prism/prism.js' %}"></script>
<script src="{% static 'marked/marked.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/vis.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/work_timeline.js' %}"></script> -->

<script src="{% static 'js/post.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/app.config.js' %}"></script>
<script src="{% static 'js/app.routes.js' %}"></script>

<script src="{% static 'js/posts/posts.module.js' %}"></script>
<script src="{% static 'js/posts/controllers/posts.controller.js' %}"></script>
<script src="{% static 'js/posts/services/posts.service.js' %}"></script>
<script src="{% static 'js/posts/directives/post-list.directive.js' %}"></script>

<script src="{% static 'js/books/books.module.js' %}"></script>
<script src="{% static 'js/books/controllers/books.controllers.js' %}"></script>
<script src="{% static 'js/books/services/books.services.js' %}"></script>
<script src="{% static 'js/books/directives/books.directives.js' %}"></script>

<script src="{% static 'js/auth/auth.module.js' %}"></script>
<script src="{% static 'js/auth/interceptors/auth.interceptors.js' %}"></script>
<script src="{% static 'js/auth/services/auth.services.js' %}"></script>


<script src="{% static 'js/about_me/about_me.module.js' %}"></script>
<script src="{% static 'js/about_me/controllers/about_me.controllers.js' %}"></script>
<script src="{% static 'js/about_me/services/about_me.services.js' %}"></script>
<script src="{% static 'js/about_me/directives/about_me.directives.js' %}"></script>


