<!-- {% load staticfiles %} -->
{% load static %}
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'prism/prism.js' %}"></script>
<script src="{% static 'marked/marked.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/vis.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/work_timeline.js' %}"></script> -->

<script src="{% static 'js/books.js' %}"></script>
<script src="{% static 'js/post.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/app.config.js' %}"></script>
<script src="{% static 'js/app.routes.js' %}"></script>
<script src="{% static 'js/posts/posts.module.js' %}"></script>
<script src="{% static 'js/posts/controllers/posts.controller.js' %}"></script>
<script src="{% static 'js/posts/services/posts.service.js' %}"></script>
<script src="{% static 'js/posts/directives/post-list.directive.js' %}"></script>
