{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MrLokans</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Python programmer personal blog and CV website">
    <base href="/"></base>

    {% include "personal_site/shared_styles.html" %}
</head>



<body>
    {% block header %}
    <div class="container">
        <div class="row" id="header">
            <div class="col-md-6 col-xs-6 portfolio-logo">
                <a href="{% url 'about_me:index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo" class="title-logo ing-responsive">
                </a>
            </div>
            <div class="col-md-6 col-xs-6 text-right text-uppercase">
                <h1 class="title-name">Andrew</h1>
                <h4 class="title-job">the Python Ninja</h4>
            </div>
        </div>

        <div class="row" id="menu-splitter">
            <hr/>
        </div>

    </div>
    {% endblock %}


    <div class="scroll-to-top"></div>



    <div class="container">
        <div class="row">
            {% block navigation_menu %}
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="menu-item"><a href="{% url 'about_me:index' %}">About me</a></li>
                    <li class="menu-item"><a href="{% url 'about_me:projects' %}">Projects list</a></li>
                    <li class="menu-item"><a href="{% url 'about_me:contacts' %}">Contacts</a></li>
                    <li class="menu-item"><a href="{% url 'about_me:analysis_stats' %}">Apartments statistics</a></li>
                </ul>
            </div>
            {% endblock %}


            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>


            <div class="col-md-2">{% block right_menu %}{% endblock %}</div>
        </div>
    </div>


    {% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-center">&copy; MrLokans</p>
        </div>
    </footer>
    {% endblock %}

    {% block javascripts %}
        {% include "personal_site/shared_scripts.html" %}
    {% endblock %}
</body>