{% extends "base.html" %}

{% block content %}
    <h3>Contact information:</h3>
    <div class="social-network" id="linkedin-social">
        <a href="https://www.linkedin.com/in/andrei-sviridov-9619b9109">LinkedIn</a>
    </div>
    <div class="social-network" id="github-social">
        <a href="https://github.com/MrLokans">Github</a>
    </div>
    <div class="social-network" id="lastfm-social">
        <a href="http://www.last.fm/ru/user/MrLokans">Lastfm ;)</a>
    </div>
    <a href="mailto:mrlokans@gmail.com">E-mail</a>
{% endblock %}
