beautifulsoup4==4.4.1
bs4==0.0.1
Django==1.9.6
django-bower==5.1.0
django-crispy-forms==1.6.0
django-filter==0.13.0
django-markdownx==1.5
djangorestframework==3.3.3
dropbox==6.2
geopy==1.11.0
gevent==1.1.1
greenlet==0.4.10
grequests==0.3.0
lxml==3.6.0
Markdown==2.6.6
Pillow==3.2.0
psycopg2==2.6.1
redis==2.10.5
requests==2.10.0
six==1.10.0
urllib3==1.15.1
tqdm==4.8.4

# Own libraries
moonreader_tools
git+git://github.com/MrLokans/isp-coverage-map@0.9.2.1