Django==1.9.6
django-filter==0.13.0
djangorestframework==3.3.3
dropbox==6.2
Markdown==2.6.6
moonreader-tools==0.8.7
psycopg2==2.6.1
requests==2.10.0
six==1.10.0
urllib3==1.15.1

# Own libraries
git+git://github.com/MrLokans/MoonReader_tools#egg=moonreader_tools
