beautifulsoup4==4.4.1
bs4==0.0.1
celery==4.0.2
Django==1.10.2
django-filter==1.0.1
djangorestframework==3.5.3
djangorestframework-jwt==1.9.0
django-rest-swagger==2.1.1
gevent==1.1.1
greenlet==0.4.10
grequests==0.3.0
gunicorn==19.6.0
lxml==3.6.0
Markdown==2.6.7
Pillow==3.2.0
PyJWT==1.4.2
redis==2.10.5
requests==2.10.0
six==1.10.0

urllib3==1.15.1

# Progress-bar for books downloading progress
tqdm==4.8.4

# Database backups
django-dbbackup==3.1.3

# Dropbox client to obtain book-notes
dropbox==6.2

# Own libraries
moonreader_tools
PyYAML==3.12

psycopg2==2.7.1

# For error reporting
raven==5.32.0

# Markdown editor in the admin page
django-pagedown==0.1.3

django-admin-honeypot==1.0.0

django-health-check==2.3.0

# Track model changes
django_simple_history-1.9.0

-e git://github.com/MrLokans/onliner-agent-finder.git@0.3.2#egg=agent_spider
