{% extends "base.html" %}
{% block content %}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/map_style.css' %}">
    <div class="container">
      <div id="mapdiv"></div>
    </div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
   dots = {{ coords|safe }};
  </script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());


    marker_coords = [[27.550354, 53.903612], [27.550835, 53.907147]]

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    for(var i=0; i<dots.length; ++i){
        var lonLat = new OpenLayers.LonLat( dots[i][0] ,dots[i][1] )
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );
        markers.addMarker(new OpenLayers.Marker(lonLat));              
    }

          

   var zoom=12;
    map.setCenter (lonLat, zoom);
  </script>

{% endblock content %}